html{
    font-size: 16px;
    font-family:  -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.tabbar{
    border-top: 1px solid #eee;
}
.background{
    background:#f7f7f7;
}
.pix_content h3{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    padding: 0;
    margin: 0;
    font-family:  -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}
.pad_lr_30{
    padding: 0 15px;
    background-color: #fff;
}
.pad_tb_30{
    padding: 15px 0;
}
.pad_t_30{
    padding-top: 15px;
}
.mag_t_30{
    margin-top: 15px;
}
.f_l{
    float: left;
}
.f_r{
    float: right;
}
.txt_r{
    text-align: right;
}
.bal_usd{
    font-size: 13px;
    color: #aaa;
    text-align: right;
    padding: 0 15px 15px 0;
    border-bottom: 1px solid #eee;
}
.marg_r{
    margin-right: 5px;
}
.marg_l10{
    margin-left: 10px;
}
.font_30{
    font-size: 18px;
    color: #333;
}
.font_13{
    font-size: 13px;
    color: #aaa;
}
.font_22{
    font-size: 13px;
    color: #333;
}
.lineh_16{
    font-size: 16px;
    color: #333;
    line-height: 26px;
    vertical-align: middle
}
.font_16{
    font-size: 15px;
    color: #aaa;
    line-height: 26px;
}
.font_16b{
    font-size: 16px;
    color: #333;
}
.font_16g{
    font-size: 16px;
    color: #aaa;
}
.font_b{
    color: #319AF2;
}
.color_f60{
    color: #f60;
}
.font_f60{
    color: #f60;
    font-size: 25px;
}
.font_min_f60{
    color: #f60;
    font-size: 14px;
    margin-left: 5px;
}
.icon_img{
    display: inline-block;
    line-height: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon_img img{
    display: block;
    width: 100%;
    height: 100%;
}
.icon_20{
    width: 20px;
    height: 20px;
    vertical-align: middle
}
.icon_72{
    width: 72px;
    height: 72px;
    vertical-align: middle
}
.fw_rig_min{
    width:10px;
    height:10px;
    background: url("../../assets/images/fw_rig_min.png");
    background-size: 100%;
}
.icon_home{
    margin-bottom: 8px;
}
.icon_home img{
    width: 50px;
}
.ad_img{
    height: 100px;
    background: #ccc;
    overflow: hidden;
}
.ad_img img{
    display: block;
    width: 100%;
}
.pix_content{
    background: #fff;
}
.pix_content .pix_h{
    padding: 15px;
    border-bottom: 1px solid #eee;
    background: #fff;
    margin-top: 15px;
}

/* 顶部工具条 go */
.toolbar{
    background: #005DC0;
    color: #fff;
}
.toolbar__title{
    color: #fff;
}
.back-button__icon{
    fill: #fff;
}

/* 顶部工具条 end */
/* 按钮组件 go */
.btnBot{
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    margin: 0;
}
.button--large:active {
    background-color: #005DC0;
    opacity: 0.8;
}
.btnNal{
    background-color: #005DC0;
    height: 40px;
    color: #fff;
}
.btn{
    width: 127px;
    height: 40px;
    color: #fff;
    border-radius: 50px 50px;
}
.btn.btn_b{
    margin-top: 20px;
    color:#005dc0;
    border-color: #005dc0;
}
.btn:active {
    -webkit-transition: none;
    transition: none;
    opacity: 0.8;
}
.btn.btn_b:active {
    border-color: #005dc0;
    background-color: #005dc0;
    -webkit-transition: none;
    transition: none;
    color: #fff;
}
.btn i{
    width: 20px;
    height: 20px;
    margin: -7px 5px 0 0;
    vertical-align: middle;
}
.btn i img{
    width: 20px;
    height: 20px;
}
/* 按钮组件 end */
/* list列表 go */
.list_tb_none{
    background-image: none;
}
.list_bot,.mid_bot{
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#eee));
    background-image: linear-gradient(0deg, #eee, #eee 100%);
}
.mid_bot:last-child{
    background-image: none;
}
.mid_bot2{
    margin-right: 15px;
    padding-right: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#eee));
    background-image: linear-gradient(0deg, #eee, #eee 100%);
}
.mid_bot3{
    margin-right: 15px;
    padding-right: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#eee));
    background-image: linear-gradient(0deg, #eee, #eee 100%);
}
.txt_wrap{
    flex-wrap: wrap;
  }
.item_h{
    width:100%;
    font-size: 16px;
}
.item_sub{
    width:100%;
    font-size: 13px;
    color: #999;
}
/* list列表 end */
/* card卡片 go */
.card_item{
    overflow: hidden;
    padding: 0 0 15px;
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card_top{
  text-align: center;
  padding: 15px 0;
  margin: 0 15px;
  border-bottom: 1px solid #eee;
}
.card_suc{
    text-align: center;
    padding: 90px 0 0;
    margin: 0 15px;
}
.bgNone{
    background: none;
}
/* card卡片 end */